# Web-Scraping-Assignment with BeautifulSoup, Selenium and Exception Handling

In [1]:
import pandas as pd
import time
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

# 1.Scrape the details of most viewed videos on YouTube from Wikipedia: Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [2]:
driver=webdriver.Chrome(r'C:/Users/hp/Downloads/chromedriver_win32/chromedriver.exe')

In [3]:
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [6]:
#scraping the video names
name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        name.append(i.text)
except NoSuchElementException:
    name.append('No details')

time.sleep(1)

In [7]:
#scraping rank of the video
rank=[]
try:
    rnk=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in rnk:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('No details')

In [8]:
artist=[]
#scraping the artist name
try:
    art=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in art:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('No details')
    
time.sleep(1)

In [9]:
#scraping upload_date of the video
upld_dt=[]
try:
    date=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in date:
        upld_dt.append(i.text)
except NoSuchElementException:
    upld_dt.append('No details')

In [13]:
#scraping Artist of the video
artist=[]
try:
    artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:
        artist.append(i.text)
except NoSuchElementException:  # handling no such element exception
    artist.append('No details available')
time.sleep(2)

In [10]:
views=[]
#scraping the views
try:
    view=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in view:
        views.append(i.text)
except NoSuchElementException:
    views.append('No details')

In [12]:
#Making dataframe
df=pd.DataFrame({"Rank":rank,
                 "Name":name,
                "Artist":artist,
                "Upload date":upld_dt,
                "Views(billions)":views})
df

,Rank,Name,Artist,Upload date,Views(billions)
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.53
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.82
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.31
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.69
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.48
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.27
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.58
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[22]",Miroshka TV,"February 27, 2018",4.56
8,9.,"""Uptown Funk""[23]",Mark Ronson,"November 19, 2014",4.54
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.49
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.40
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.96
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",3.92
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.68
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.56
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.56
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.54
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.44
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.32
19,20.,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.28
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.27
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.26
22,23.,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.21
23,24.,"""Baa Baa Black Sheep""[42]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.21
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.19
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.19
26,27.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.16
27,28.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.14
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.12
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.07

# 2.Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [2]:
#path from chromedriver
driver=webdriver.Chrome(r'C:/Users/hp/Downloads/chromedriver_win32/chromedriver.exe')

In [39]:
#to open webpage
url='https://www.bcci.tv/'
driver.get(url)
time.sleep(2)

In [42]:
fixtures=driver.find_element_by_xpath("/html/body/div[5]/div/div[2]/div/div[2]/div/div[1]/div[1]/div/div/div[1]/a/div/div[1]/h5/span") #Locating to International Fixtures
time.sleep(2) #wait for 2 m.s..

In [43]:
Match_title = []
Series = []
Place = []
Date = []
Time = []

In [44]:
title=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']") #Title of the Seriers
for i in title:
    Series.append(i.text)

In [45]:
name=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']") #Match Title
for i in name:
    Match_title.append(i.text)

In [46]:
loc=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span") #Location
for i in loc:
    Place.append(i.text)

In [47]:
dt1=driver.find_elements_by_xpath("//div[@class='fixture__full-date']/span") #Day
dt2=driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[1]") #Month
dat = len(dt1)
for i in range(0,dat):
    Date.append(dt1[i].text+" "+dt2[i].text) #adding Day and Month to form Date

In [48]:
tim=driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[2]") #Time
for i in tim:
    Time.append(i.text)

In [50]:
Fixtures=pd.DataFrame({}) #DataFrame
Fixtures['Match title'] = Match_title
Fixtures['Series'] = Series
Fixtures['Place'] = Place
Fixtures['Date'] = Date
Fixtures['Time'] = Time

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/ You need to find following details:

A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [41]:
# Opening the guru99.com
url = "https://www.guru99.com/"
driver.get(url)
time.sleep(2)

In [42]:
#clicking on selenium option under testing menu open its tutorial
selenium_link=driver.find_element_by_xpath("//li[@id='menu-item-4622']/a")
try:
    selenium_link.click()
except:          #handling element not clickable exception
    driver.get(selenium_link.get_attribute('href'))
time.sleep(2)

In [43]:
#clicking on Selenium Exception Handling (Common Exceptions List) under Advance Webdriver Stuff!
exception_handle_link=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handle_link.click()
except ElementNotInteractableException:      #handling element not clickable exception
    driver.get(exception_handle_link.get_attribute('href'))              
time.sleep(2)

In [44]:
#scraping exceptions names
name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in names[1:]:
        name.append(i.text)
except NoSuchElementException:               #handling no such element exception
    name.append('No details available')
time.sleep(2)

In [45]:
#scraping exceptions description
desc=[]
try:
    desc_list=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in desc_list[1:]:
        desc.append(i.text)
except NoSuchElementException:#handling no such element exception
    desc.append('No details available')
time.sleep(2)

In [46]:
#creating dataframe
df=pd.DataFrame({"Exception_name":name,
                "Description":desc})
df

,Exception_name,Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/ You have to find following details:

A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion) Note: - From statisticstimes home page you have to reach to economy page through code

In [47]:
url = 'http://statisticstimes.com/' #getting the required url
driver.get(url)
time.sleep(2)

In [48]:
# Clicking on Economy button
driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button").click()

In [49]:
# Clicking on India
driver.find_element_by_xpath("//div[@class='dropdown-content']/a[3]").click()
time.sleep(3)

In [54]:
# Clicking on GDP of Indian Economy
GDP = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [55]:
# Creating empty list
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP_billion = []

In [56]:
# Scraping Rank
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")

In [57]:
# Scraping State
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")

In [58]:
# Scraping GSDP at current price (19-20)
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")

In [59]:
# Scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")

In [60]:
# Scraping Share (18-19)
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")

In [61]:
# Scraping GDP $ billion
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")

In [62]:
# Creating DataFrame from the scraped data
GDP = pd.DataFrame({})
GDP['Rank'] = Rank
GDP['State'] = State
GDP['GSDP at current price (19-20)'] = GSDP1
GDP['GSDP at current price (18-19)'] = GSDP2
GDP['Share(18-19)'] = Share
GDP[' GDP($ billion)'] = GDP_billion
GDP

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/ You have to find the following details:

A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [101]:
url = 'https://github.com/' #getting the required url
driver.get(url)

time.sleep(2)

In [104]:
# clicking the explore button
exp=driver.find_element_by_xpath("//html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
try:
    exp.click()
except:
    driver.get(exp.get_attribute('href'))
time.sleep(1)

In [105]:
#finding the trending option
trend=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
try:
    trend.click()
except:
    driver.get(trend.get_attribute('href'))
time.sleep(1)

In [106]:
#empty lists to store the data   
urls=[]
title=[]
desc=[]
contributor=[]
language=[]

In [107]:
#scraping urls of repositories
repo_url=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[1]/nav/a[1]")
for i in repo_url:
    urls.append(i.get_attribute('href'))

In [109]:
# Scraping Repository Title data
title = driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article[1]/h1/a/span")
for i in title:
    repository_title.append(i.text)
time.sleep(1)

In [100]:
# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(3)

In [110]:
#scraping title of repositories 
try:
    repo=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
    for i in repo:
        title.append(i.text)
except NoSuchElementException:
    title.append('--')

In [111]:
for i in urls:
    driver.get(i)
    time.sleep(1)

In [119]:
#scraping description of repositories
try:
    repo_desc = driver.find_element_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article[1]/h1/a")
    desc.append(repo_desc.text)
except NoSuchElementException:
    desc.append('--')

In [120]:
#scraping the contributors_count
try:
    count=driver.find_element_by_xpath("//*[@id='repo-content-pjax-container']/div/div/div[1]/nav/a[5]")
    contributor.append(count.text)
except NoSuchElementException:
    contributor.append('--')
    time.sleep(2)

In [126]:
#scraping used languages
lang=[]
languages=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[1]/div[2]/span[1]/span[2]")
if languages:
    for i in languages:
        lang.append(i.text)
    else:
        lang.append('--')
        language.append(lang)
    
time.sleep(1)

In [128]:

#Creating dataframe for scraped data

df=pd.DataFrame({})
df['Repository Title'] = title[:2]
df['Repository Description'] = desc[:2]
df['Language Used'] = language[:2]
df['Contributors Count'] = contributor[:2]
df

,Repository Title,Repository Description,Language Used,Contributors Count
0,<selenium.webdriver.remote.webelement.WebEleme...,--,"[TypeScript, --]",--
1,freeCodeCamp / freeCodeCamp,freeCodeCamp / freeCodeCamp,"[TypeScript, --]",Code frequency

# 6. Scrape the details of top 100 songs on billiboard.com.
6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/ You have to find the following details:

A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [129]:
# Opening the billboard
url = "https://www.billboard.com/"
driver.get(url)
time.sleep(2)

In [130]:
#clicking the hot 100 songs link
charts=driver.find_element_by_xpath("/html/body")
try:
    charts.click()
except ElementNotInteractableException:
    driver.get(charts.get_attribute('href'))
time.sleep(2)

In [131]:
#scraping song names
song_name=[]
try:
    names=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
    for i in names:
        song_name.append(i.text)
except NoSuchElementException:       #handling no such element exception
    song_name.append('No details available')
time.sleep(2)

In [132]:
#scraping artist_names 
artist_name=[]
try:
    names=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
    for i in names:
        artist_name.append(i.text)
except NoSuchElementException:        #handling no such element exception
    artist_name.append('No details available')
time.sleep(2)

In [133]:
#scraping last week rank
last_week_rank=[]
try:
    ranks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
    for i in ranks:
        last_week_rank.append(i.text)
except NoSuchElementException:        #handling no such element exception
    last_week_rank.append('No details available') 
time.sleep(2)

In [134]:
#scraping peak rank
peak_rank=[]
try:
    ranks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
    for i in ranks:
        peak_rank.append(i.text)
except NoSuchElementException:      #handling no such element exception
    peak_rank.append('No details available')
time.sleep(2)

In [135]:
#scraping weeks on chart
weeks=[]
try:
    week_count=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
    for i in week_count:
        weeks.append(i.text)
except NoSuchElementException:          #handling no such element exception
    weeks.append('No details available')
time.sleep(2)

In [142]:
#creating dataframe
df=pd.DataFrame({'Song_Name':song_name,
                'Artist_Name':artist_name,
                'Last_week_rank':last_week_rank,
                'Peak':peak_rank,
                'Weeks_on_chart':weeks})

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/ You have to find the following details:

A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [141]:
# Opening the naukri.com
url = "https://www.naukri.com/"
driver.get(url)
time.sleep(2)

In [160]:
#clicking on recruiters option
recruit=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
driver.get(recruit.get_attribute('href'))
time.sleep(1)

In [162]:
#accesing search bar
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data Science")
time.sleep(1)

In [163]:
#clicking on search button
srch_btn=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")
srch_btn.click()
time.sleep(1)

In [167]:
#Creating empty lists
name = []
designation = []
company = []
skills = []
location = []

In [165]:
#scraping names
try:
    names=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[1]")
    for i in names:
        name.append(i.text)
except NoSuchElementException:       
    name.append('--')

time.sleep(1)

In [168]:
#scraping designation
try:
    desig=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
    for i in desig:
        designation.append(i.text)
except NoSuchElementException:     
    designation.append('--')

time.sleep(1)

In [169]:
#Scraping data of company name
try:
    comp=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[2]")
    for i in comp:
        company.append(i.text)
except NoSuchElementException:
    company.append('--')

time.sleep(1)

In [170]:
#scraping skills required
try:
    skill=driver.find_elements_by_xpath("//div[@class='recInfo']/div[2]")
    for i in skill:
        skills.append(i.text)
except NoSuchElementException:  
    skills.append('--')

time.sleep(1)

In [171]:
#scraping location
soup=BeautifulSoup(driver.page_source,'html.parser')
loc=soup.find_all('div',attrs={'vcard'})
for i in loc:
    try:
        location.append(i.text)
    except NoSuchElementException:
        location.append("--")
time.sleep(1)

In [178]:

#Creating dataframe for scraped data

naukri=pd.DataFrame({})
naukri['Name'] = name[:20]
naukri['Designation'] = designation[:20]
naukri['Location'] = location[:20]
naukri['Skills/Roles I hire for'] = skill[:20]

In [179]:
naukri

,Name,Designation,Location,Skills/Roles I hire for
0,NaN,HR Manager,Aakash Harit HR Manager Data Science Netw...,<selenium.webdriver.remote.webelement.WebEleme...
1,NaN,Company Recruiter,shravan Kumar Gaddam Company Recruiter Sh...,<selenium.webdriver.remote.webelement.WebEleme...
2,NaN,Company HR,MARSIAN Technologies LLP Company HR MARSI...,<selenium.webdriver.remote.webelement.WebEleme...
3,NaN,Company Recruiter,Anik Agrawal Company Recruiter Enerlytics...,<selenium.webdriver.remote.webelement.WebEleme...
4,NaN,Founder CEO,subhas patel Founder CEO LibraryXProject ...,<selenium.webdriver.remote.webelement.WebEleme...
5,NaN,Recruitment Lead Consultant,Abhishek - Only Analytics Hiring - India ...,<selenium.webdriver.remote.webelement.WebEleme...
6,NaN,Programme Manager,Institute for Financial Management and Re...,<selenium.webdriver.remote.webelement.WebEleme...
7,NaN,HR Administrator,Balu Ramesh HR Administrator Techvantage ...,<selenium.webdriver.remote.webelement.WebEleme...
8,NaN,Director,Asif Lucknowi Director Weupskill- Live Wi...,<selenium.webdriver.remote.webelement.WebEleme...
9,NaN,Human Resource,InstaFinancials Human Resource CBL Data S...,<selenium.webdriver.remote.webelement.WebEleme...
10,NaN,HR Manager,Priyanka Akiri HR Manager Infinitive Soft...,<selenium.webdriver.remote.webelement.WebEleme...
11,NaN,Executive Hiring,Kalpana Dumpala Executive Hiring Innomind...,<selenium.webdriver.remote.webelement.WebEleme...
12,NaN,Company HR,Mubarak Company HR MoneyTap Bengaluru / B...,<selenium.webdriver.remote.webelement.WebEleme...
13,NaN,Company HR,Kushal Rastogi Company HR QuantMagnum Tec...,<selenium.webdriver.remote.webelement.WebEleme...
14,NaN,HR Team Lead,Mahesh Babu Channa HR Team Lead SocialPra...,<selenium.webdriver.remote.webelement.WebEleme...
15,NaN,Assistant Manager HR,Sakshi Chhikara Assistant Manager HR BIZ ...,<selenium.webdriver.remote.webelement.WebEleme...
16,NaN,HR Manager,Kapil Devang HR Manager BISP Solutions Bh...,<selenium.webdriver.remote.webelement.WebEleme...
17,NaN,Senior Executive Talent Acquisition,Ruchi Dhote Senior Executive Talent Acqui...,<selenium.webdriver.remote.webelement.WebEleme...
18,NaN,HR Recruiter,Sandhya Khandagale HR Recruiter Compumatr...,<selenium.webdriver.remote.webelement.WebEleme...
19,NaN,HR Executive,Manisha Yadav HR Executive Easi Tax Navi ...,<selenium.webdriver.remote.webelement.WebEleme...

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/ You have to find the following details:

A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [187]:
# Getting required url
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(2)

In [188]:

# Creating empty lists
Book_name =[]
Author_name = []
Volumes_sold= []
Publisher = []
Genre = []

In [189]:
# Scraping book name details
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]"):
    Book_name.append(i.text)

In [190]:
# Scraping author name details
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]"):
    Author_name.append(i.text)

In [191]:
# Scraping Volumes sold details
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]"):
    Volumes_sold.append(i.text)

In [192]:
# Scraping Publisher details
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]"):
    Publisher.append(i.text)

In [193]:
# Scraping Genre details
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]"):
    Genre.append(i.text)

In [194]:
# Creating dataframe to store the fethched data
Novels = pd.DataFrame({'Book_name':Book_name,'Author_name':Author_name,'Volumes_sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})
Novels

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:

A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [195]:
# Getting required url
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [196]:
# Creating empty lists
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [197]:
# Scraping name of the movie
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    Name.append(i.text)

In [198]:
# Scrpaing Year span 
for i in driver.find_elements_by_xpath("//span[@class='lister-item-index unbold text-primary']"):
    Year_span.append(i.text)

In [199]:
# Scrpaing Genre 
for i in driver.find_elements_by_xpath("//span[@class='genre']"):
    Genre.append(i.text)

In [200]:
# Scrpaing Run_time 
for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
    Run_time.append(i.text)

In [201]:
# Scrpaing Ratings 
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]"):
    Ratings.append(i.text)

In [202]:
# Scrpaing Votes 
for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [203]:
print(len(Name),len(Year_span),len(Genre),len(Run_time),len(Ratings),len(Votes))

100 100 100 100 100 100

In [204]:
Tv_series = pd.DataFrame({'Name':Name,'Year_span':Year_span,'Genre':Genre,'Run_time':Run_time,'Ratings':Ratings,'Votes':Votes})
Tv_series

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,1.,"Action, Adventure, Drama",57 min,9.2,"1,978,491"
1,Stranger Things,2.,"Drama, Fantasy, Horror",51 min,8.7,"984,165"
2,The Walking Dead,3.,"Drama, Horror, Thriller",44 min,8.2,"943,050"
3,13 Reasons Why,4.,"Drama, Mystery, Thriller",60 min,7.5,"281,749"
4,The 100,5.,"Drama, Mystery, Sci-Fi",43 min,7.6,"241,701"
...,...,...,...,...,...,...
95,Reign,96.,"Drama, Fantasy",42 min,7.4,"48,481"
96,A Series of Unfortunate Events,97.,"Adventure, Comedy, Drama",50 min,7.8,"59,109"
97,Criminal Minds,98.,"Crime, Drama, Mystery",42 min,8.1,"188,480"
98,Scream: The TV Series,99.,"Comedy, Crime, Drama",45 min,7.1,"39,960"
99,The Haunting of Hill House,100.,"Drama, Horror, Mystery",572 min,8.6,"225,960"

# 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:

A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year Note: - from the home page you have to go to the Show All Dataset page through code.

In [205]:
# Getting required url
url = "https://archive.ics.uci.edu/"
driver.get(url)

In [206]:
#Clicking on view all datasets link
datasets=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
try:
    datasets.click()
except ElementNotInteractableException:
    driver.get(datasets.get_attribute('href'))

In [207]:
#Creating empty lists for storing the data
Name=[]
Type=[]
Task=[]
Attribute=[]
No_of_Instance=[]
No_of_Attribute=[]
Year=[]

In [208]:
#Scrapping the data having dataset name
try:
    names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')

In [209]:
#Scrapping the data having data type
try:
    types=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in types[1:]:
        Type.append(i.text)
except NoSuchElementException:
    Type.append('-')

In [210]:
#Scrapping the data having default task
try:
    task=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('-')

In [211]:
#Scrapping the data having attribute types
try:
    attribute=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in attribute[1:]:
        Attribute.append(i.text)
except NoSuchElementException:
     Attribute.append('-')

In [212]:
#Scrapping the data having no of instances
try:
    instance=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in instance[1:]:
        No_of_Instance.append(i.text)
except NoSuchElementException:
    No_of_Instance.append('-')

In [213]:
#Scrapping the data having no of attributes
try:
    attribute_no=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in attribute_no[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('-')

In [214]:
#Scrapping the data having the year details
try:
    year=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('-')

In [215]:
#Creating the dataframe
df=pd.DataFrame({"Name":Name,"Data types":Type,"Default Task":Task,"Attribute types":Attribute, 
                 "No of instances":No_of_Instance,"No of atrributes":No_of_Attribute,"Year":Year})
df

,Name,Data types,Default Task,Attribute types,No of instances,No of atrributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021